body{
  padding: 0;
  margin: 0;
}

.nav-wrapper{
  padding: 10px 20px;
  background-color: blanchedalmond;
  
}

.nav-container{
 list-style-type: none;
 padding: 0;
 margin: 0;
}

.nav-list{
  display: inline-block;
  color: black;
}

